:root {
    --color-text-def: #ffffff;
    --color-text-2: #535353;
    --color-text-1: #4f4f4f;
    --color-text-3: #828282;
    --color-action: #27ae60;
    --color-bg-card: #212121;
    --color-bg-def: #171717;
}



body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--color-bg-def);
    color: var(--color-text-def);
    font-size: 1.125rem;
}

.menu-active body {
    overflow: hidden;
}

.wraper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
.footer__container p {
    padding-block-start: 9.375rem;
    padding-block-end: 1.875rem;
    text-align: center;
    color: var(--color-text-1);
    font-size: 14px;
}

.wraper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 75rem;
    margin: 0 auto;
    padding-inline: 15px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-bg-def);
}
.header__container {
    padding-block: 2.5rem;
    max-width: 81.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 2.25rem;
    font-weight: bold;
    position: relative;
    z-index: 5;
}

.menu__icon {
    display: none;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    z-index: 5;
}
.menu__icon::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 1.875rem;
    height: 0.125rem;
    background-color: var(--color-text-def);
    transition: transform 0.3s;
}
.menu__icon::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 1.875rem;
    height: 0.125rem;
    background-color: var(--color-text-def);
    transition: transform 0.3s;
}
.menu__icon span {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 1.875rem;
    height: 0.125rem;
    transform: translate(0, -50%);
    background-color: var(--color-text-def);
    transition: width 0.3s;
}

.menu-active .menu__icon::after {
    transform: rotate(-45deg);
    top: 50%;
}
.menu-active .menu__icon::before {
    transform: rotate(45deg);
    top: 50%;
}
.menu-active .menu__icon span {
    width: 0;
}

.menu__body {
    transition: all 0.3s;
}
.menu__list {
    display: flex;
    gap: 1.25rem 2.5rem;
}

.menu__link {
    transition: color 0.3s;
}
.menu__link:hover {
    color: var(--color-action);
}

.hero__container {
    padding-block-start: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.hero__body {
    max-width: 26.5625rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.title {
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1.2;
}
.hero__text {
    color: var(--color-text-3);
}
.hero__buttons {
    margin-top: 1.5625rem;
    display: flex;
    gap: 10px;
}
.button {
    border: 1px solid var(--color-text-def);
    font-weight: 500;
    padding: 0.75rem 1.6875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}
.button a {
    font-size: 14px;
}
.button:hover {
    transform: translate(0, -1px);
}
.btn-bg {
    background-color: var(--color-action);
    border: 1px solid transparent;
}

.hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54%;
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 100%;
    background-color: #202020;
}
.hero__img img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 100%;
}



.about__container {
    padding-block: 2.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3.125rem;
}
.about__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem 2.5rem;
    max-width: 62%;
}


.about__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem 2.5rem;
}
.about__bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
    max-width: 10.75rem;
    padding: 0.625rem;
}

.about__card-icon {
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-color: var(--color-bg-card);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__card-icon span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: var(--color-action);
}
.about__card-body {
    display: flex;
    flex-direction: column;
    gap: 0.1875rem;
}
.about__card-title {
    font-weight: bold;
}

.what__container {
    padding-block: 2.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.25rem;
}

.what__title {
    text-align: center;
}

.what__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem 3.75rem;
}
.what__card {
    width: 21.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.875rem;
    padding: 2.1875rem 3.125rem;
    background-color: var(--color-bg-card);

    position: relative;
}
.what__card::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 5px solid var(--color-action);
    transition: width 0.3s;
}
.what__card:hover::after {
    width: 100%;
}
.what__card-title {
    font-weight: 500;
    font-size: 2.25rem;
    color: var(--color-text-2);
}

.skils__container {
    padding-block: 2.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.6875rem;
}

.skils__cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7.5rem;
    background-color: var(--color-bg-card);
    padding-block: 3.4375rem;
    padding-inline: 7.5rem;
}

.skils__card {
    text-align: center;
}


.skils__card-titl {
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--color-text-1);
}
.skils__card-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-action);
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.form__body {
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
    width: 46.875rem;
}
.form__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2.1875rem;
}

.form__top input {
    width: 100%;
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    border-bottom: 2px solid var(--color-bg-card);
    color: var(--color-text-def);
}

.form__textarea {
    width: 100%;
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    border: 2px solid var(--color-bg-card);
    color: var(--color-text-def);
}
.form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

